/*
#EBDCD0
#574E51
#83826B
#EBBA77
#965734
*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Shadows+Into+Light+Two&family=Mali:wght@300&Urbanist:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #574E51;
}

h3 {
  font-family: 'Anton', sans-serif;
  font-size: 70px;
  color: white;
}

h4 {
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  color: white;
  text-shadow: 4px 3px 1px rgba(0, 0, 0, 1);
}

p {
  font-size: 20px;
  font-family: 'Shadows Into Light Two', cursive;
}

a {
  font-family: 'Mali', cursive;
  text-decoration: none;
  font-family: 'Urbanist', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

nav {
  position: absolute;
  overflow: hidden;
  top: 0px;
  width: 100vw;

}

ul {
  display: table;
  width: 100%;

}

li {
  display: table-cell;

}

nav a {
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-size: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 15px 0;

}

#image-wrapper {
  background-image: url("/images/main_cake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 70vh;
}

#logo-wrapper {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #965734;
}

#logo-wrapper img {
  max-width: 60%;
  max-height: 60%;
}

#shop-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-color: #EBDCD0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2383826b' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.text-wrapper {
  margin: 0;
  width: 70%;
  background-color: #EBDCD0;
  padding: 0 15px 0 15px;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}

.text-wrapper h3, p {
  display: block;
  position: relative;
  bottom: 55px;
}

#shop-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cake-link {
  background-image: url("/images/cakes/cake2.jpg");
  width: 300px;
  height: 300px;
  background-size: cover;
  text-align: center;
  line-height: 300px;
  border-radius: 50%;
}

#cupcake-link {
  background-image: url("/images/cupcakes/cupcake5.jpg");
  width: 300px;
  height: 300px;
  background-size: cover;
  text-align: center;
  line-height: 300px;
  border-radius: 50%;
}

#cupcake-link h4, #cake-link h4 {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

@media (min-width: 768px) {

  nav a {
    font-size: 25px;
  }

  #shop-window {
    justify-content: space-evenly;
  }
  #shop-nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 1025px) {

  h3 {
    font-size: 80px;
  }
  p {
    font-size: 28px;
  }

  main {
    flex-direction: row;
  }

  nav {
    width: 40vw;
  }

  ul {
    width: 40vw;
  }

  #image-wrapper {
    width: 40vw;
    height: auto;
  }

  #logo-wrapper {
    width: 60vw;
    height: auto;
  }

  #logo-wrapper img {
    max-width: 40%;
    max-height: 40%;
  }

  #shop-window {
    flex-direction: row;
    justify-content: center;
  }

  .text-wrapper {
    width: 20%;
    height: 70vh;
  }

  .text-wrapper h3 {
    bottom: 63px;
  }
  .text-wrapper p {
    position: initial;
  }

  #shop-nav {
    width: 50%;
    height: 100%;
    flex-direction: column;
  }

}