/*
#EBDCD0
#574E51
#83826B
#EBBA77
#965734
*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Shadows+Into+Light+Two&family=Mali:wght@300&Urbanist:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Urbanist', sans-serif;
  color: #574E51;
}

p {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

nav {
  position: absolute;
  overflow: hidden;
  top: 0px;
  width: 100%;
}

ul {
  display: table;
  width: 100%;
}

li {
  display: table-cell
}

nav a {
  font-weight:600;
  font-size: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 15px 0;
}

#image-wrapper {
  background-image: url("/images/main_cake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 70vh;
}

#logo-wrapper {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #965734;
}

#logo-wrapper img {
  max-width: 60%;
  max-height: 60%;
}

#shop-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
  background-color: #EBDCD0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2383826b' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  border-top: 2px solid white;
}

#shop-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

#shop-nav a {
  text-decoration: none;
}

#big-hello {
  font-family: 'Anton', sans-serif;
  font-size: 65px;
  color: white;
  display: block;
  position: relative;
  bottom: -30px;
}

.text-wrapper {
  background-color: #EBDCD0;
  max-width: 70%;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 15px;
  text-align: center;
}
button {
  font-family: 'Mali', cursive;
  font-size: 18px;
  color: white;
  width: 100px;
  background-color: #574E51;
  padding: 5px;
  border: 2px solid white;
  border-radius: 10px;
}

#products-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
  height: auto;
  width: 100%;
  background-color: #ebba77;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23965734' fill-opacity='0.18' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  border-top: 6px dotted #965734;
}

.product-wrapper {
  background-color: white;
  margin: 10px;
  border: 4px solid #965734;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}

#products-window img {
  width: 200px;
  height: 200px;
}

@media (min-width: 768px) {
  nav a {
    font-size: 25px;
  }
}


@media (min-width: 1025px) {

main {
  flex-direction: row;
}

nav {
  width: 40vw;
}

ul {
  width: 40vw;
}

  #image-wrapper {
    width: 40vw;
    height: auto;
  }

  #logo-wrapper {
    width: 60vw;
    height: auto;
  }

  #logo-wrapper img {
    max-width: 40%;
    max-height: 40%;
  }

}