@import url('https://fonts.googleapis.com/css2?family=Anton&family=Shadows+Into+Light+Two&family=Mali:wght@300&Urbanist:wght@300;600&display=swap');

/* MOBILE VIEW */
* {
  margin: 0;
  padding: 0;
  font-family: 'Urbanist', sans-serif;
  color: #574E51;
}

p {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 20px;
}

b {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 20px;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

nav {
  position: absolute;
  overflow: hidden;
  top: 0px;
  width: 100%;
}

ul {
  display: table;
  width: 100%;
}

li {
  display: table-cell
}

/* .pointer {
  cursor: pointer;
} */

nav a {
  font-weight: 600;
  font-size: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 15px 0;
}

#arrow-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: none;
  position: fixed;
  bottom: 12vh;
  right: 10px;
  z-index: 99;
  cursor: pointer;
}

#up-arrow-img {
  width: 25px;
  height: 25px;
  filter: invert(100%) sepia(45%) saturate(2%) hue-rotate(65deg) brightness(108%) contrast(101%);
}

#image-wrapper {
  background-image: url("/images/main_cake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 70vh;
}

#logo-wrapper {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #965734;
}

#logo-wrapper img {
  max-width: 60%;
  max-height: 60%;
  border-radius: 50%;
  border: 2px solid #ebba77;
}

.products-section {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
}

#shop-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
  background-color: #EBDCD0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2383826b' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  border-top: 2px solid white;
}

#shop-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

#shop-nav button {
  text-decoration: none;
  cursor: pointer;
}

.big-text {
  font-family: 'Anton', sans-serif;
  font-size: 65px;
  color: white;
  display: block;
  position: relative;
  bottom: -30px;
}

.text-wrapper {
  background-color: #EBDCD0;
  max-width: 70%;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 15px;
  text-align: center;
}

button {
  font-family: 'Mali', cursive;
  font-size: 18px;
  color: white;
  width: 100px;
  background-color: #574E51;
  padding: 5px;
  border: 2px solid white;
  border-radius: 10px;
}

#products-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
  height: auto;
  width: 100%;
  background-color: #ebba77;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23965734' fill-opacity='0.18' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  border-top: 6px dotted #965734;
}

#cake-logo {
  position: relative;
  top: 150px;
  width: 200px;
  height: 200px;
  filter: invert(41%) sepia(11%) saturate(2939%) hue-rotate(337deg) brightness(85%) contrast(80%);
}

.product-wrapper {
  background-color: white;
  margin: 10px;
  border: 4px solid #965734;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  cursor: pointer;
}

.product-wrapper img {
  width: 200px;
  height: 200px;
}

/* Flash effect on hover */
@-webkit-keyframes flash {
  0% { opacity: .3; }
  100% { opacity: 1; }
 }

 .flash:hover {
  opacity: 1;
  -webkit-animation: flash 1s;
  animation: flash 1s;
 }

 @-webkit-keyframes flash {
  0% {  opacity: .3;  }
  100% { opacity: 1; }
}
@keyframes flash {
  0% { opacity: .3; }
  100% { opacity: 1;  }
}
 

#about-window {
  width: 100%;
  height: 100vh;
  background-color: #574e51;
  background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%23ebba77' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E");
  text-align: center;
}

#about-window .text-wrapper {
  background-color: #574E51;
  margin: auto;
}

#about-window .text-wrapper p {
  color: white;
}

#about-img-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

#about-window img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 2px solid #83826B;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#contacts-window {
  text-align: center;
  width: 100%;
  height: 90vh;
  background-color: #965734;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ebba77' fill-opacity='0.18'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#contacts-window .text-wrapper {
  margin: auto;
  background-color: #965734;
}

#contacts-window .text-wrapper p {
  color: white;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #574E51;
  width: 100%;
  height: 10vh;
  box-shadow: -1px -10px 22px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px -10px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -10px 22px 0px rgba(0, 0, 0, 0.75);
  border-top: 1px solid #EBDCD0;
}

footer img {
  width: 50px;
  height: 50px;
  filter: invert(100%) sepia(93%) saturate(416%) hue-rotate(301deg) brightness(96%) contrast(91%);
}

/* TABLET VIEW */
@media (min-width: 767px) {
  nav a {
    font-size: 25px;
  }

  p {
    font-size: 25px;
  }

  b {
    font-size: 25px;
  }

  .big-text {
    font-size: 75px;
    bottom: -35px;
  }

  #shop-window .text-wrapper {
    margin-bottom: 35px;
  }

  button {
    width: 140px;
    font-size: 25px;
  }

  #cake-logo {
    top: 0;
  }

  #products-window {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-wrapper img {
    width: 250px;
    height: 250px;
  }

  #about-img-wrapper {
    margin-top: 100px;
  }

  #about-window img {
    width: 200px;
    height: 200px;
  }
}

/* LAPTOP VIEW */
@media (min-width: 1025px) {
  main {
    flex-direction: row;
  }

  nav {
    width: 40vw;
  }

  ul {
    width: 40vw;
  }

  #image-wrapper {
    width: 40vw;
    height: auto;
  }

  #logo-wrapper {
    width: 60vw;
    height: auto;
  }

  #logo-wrapper img {
    max-width: 40%;
    max-height: 40%;
  }

  .products-section {
    flex-direction: row;
    min-height: 100vh;
    height: auto;
  }

  #shop-window {
    min-height: 100vh;
    width: 40vw;
    min-height: 100vh;
    height: auto;
  }

  #products-window {
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 60vw;
    min-height: 100vh;
    height: auto;
  }

  footer {
    justify-content: flex-start;
  }

  footer img {
    margin: 10px;
  }
}